# Create an empty config dict
config = dict()
##
#
#  Main server configuration
#
##
config["HOST"] = "127.0.0.1"
# This string will be used in file URLs that are returned
config["DOMAIN"] = "example.com"
config["PORT"] = 8282
config["DEBUG"] = True
# Extended debug will add extra debug output that's not normally provided by flask
config["EXTENDED_DEBUG"] = False
# Single user authentication, leave blank to disable authentication
config["KEY"] = ""

# File settings
config["UPLOAD_FOLDER"] = './data'
config["ALLOWED_EXTENSIONS"] = set(['txt', 'pdf', 'png', 'jpg', 'jpeg', 'gif'])
# If this is set to true, old files will be deleted. TIME is how far behind (in seconds) the last accessed time can be before files get deleted
config["DELETE_FILES"] = True
config["TIME"] = 30
config["CLEAN_INTERVAL"] = 120

# Site info displayed to the user
config["SITE_DATA"] = {
  "title": "QuadFile"
}