@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/* Being lazy 101 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Lato", sans-serif;
  color: #ffffff;
  background-color: #1d1d1d;
}

@keyframes rise {
    from {margin-top: 50px;opacity:0;}
    to {margin-top: 0;opacity:1;}
}

@keyframes appear {
    from {opacity:0;}
    to {opacity:1;}
}

.page {
  width: 100%;
  max-width: 720px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
  transform: translateY(-50%)
}

.note {
  text-align: center;
  font-size: 8pt;
  color: #AAAAAA;
  animation: appear 0.75s ease-out;
}

.title {
  font-size: 34pt;
  font-weight: 300;
  margin-bottom: 5px;
  text-align: center;
  animation: appear 0.75s ease-out;
}

.links {
  font-size: 0;
  margin-top: 20px;
  text-align: center;
  list-style: none;
}

.links li {
  font-size: 12pt;
  display: inline-block;
  padding: 5px;
  width: 15%;
  animation: rise 1s ease-out;
}

@media all and (max-width: 360px){
  .links li {
    width: 40%;
    margin-bottom: 5px;
    padding: 5px;
  }
}

@media all and (max-width: 600px){
  .links li {
    width: 20%;
    margin-bottom: 5px;
    padding: 5px;
  }
}

.links li a, .fileLink {
  color: inherit;
  text-decoration: none;
  color: #999999;
}

.links li a:hover, .fileLink {
  text-decoration: underline;
}

.uploadForm {
  width: 100%;
  text-align: center;
  animation: appear 0.75s ease-out;
}

.uploadButton {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  cursor: pointer;
  background-color: #229922;
  border-radius: 10px;
  transition: background 0.1s ease-out;
  overflow: hidden;
}

.uploadButton:hover {
  background-color: #33BB33;
}

@keyframes pulse {
  0% {background-color: #117711;}
  50% {background-color: #44CC44;}
  100% {background-color: #117711;}
}

.uploading {
  animation: pulse 3s infinite;
}

.uploadButton p {
  padding: 20px;
  font-weight: 300;
  font-size: 24pt;
}

.uploadButton input[type="file"] {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
}
