{%  extends "regular.html" %}
{% block body %}

  <h1>
    Access-based storage
  </h1>
  <p>
    {{ page.title }} is a service that keeps files stored depending on their popularity.
  </p>
  <p>
    File storage times are one week from when they were last accessed. Or one week since they were uploaded if they're never accessed.
  </p>
  <p>
    Meaning that if you upload a file on December 10th and someone accesses that file on the 13th, we won't delete the file until the 20th. If someone also fetched the file on the 17th, your file will stay until December 25th.
  </p>
  <p>
    In a similar fashion; if you upload a file on December 3rd and send it to someone, then the file is never accessed again. It will be deleted on the 10th.
  </p>
  <p>
    Even though I personally only do it to limit the server costs and keep the site running fast. Many users refer to this as a form of "Security Through Obscurity" since file URLs are whatever the user first uploaded and they will die at unpredictable times. Making it harder to brute-force file links
  </p>

  <h1>
    History
  </h1>
  <p>
    {{ page.title }} was a file sharing service that ran from 2014 into mid-2015. People loved it. It was fast, free, and extremely dumb-ass-simple to use, everything you'd want.
  </p>
  <p>
    Unfortunately, running a service like that isn't really easy, nor affordable. So it ended up shutting down.
  </p>

  <h1>
    The new {{ page.title }}
  </h1>
  <p>
    Christmas 2015, {{ page.title }} returned, better than ever.
  </p>
  <p>
    It now uses a database (SQLite counts okay, don't hate me), it has been rewritten from scratch using Python, it's multi-threaded, it rocks. Resource usage is approximately one fourth that of the old site - while also being faster.
  </p>

{% endblock %}