{%  extends "regular.html" %}
{% block body %}
  <h1 id="limits">Frequently asked questions</h1>

  <h2>
    Can I use ShareX to upload?
  </h2>
  <p>Sure thing! Here's the config: <a href="/QuadFile.json">i am link</a></p>
  <p>Import that as a custom uploader and fire away</p>

  <h2>
    Who runs this thing
  </h2>
  <p>A guy called Quad (<a href="https://twitter.com/QuadPiece/">Twitter</a>)</p>

  <h2>
    What powers this site?
  </h2>
  <p>The server itself comes from RamNode, sitting behind CloudFlare.</p>
  <p>The actual site is purely Python powered and only depends on Flask. The database is SQLite, but on SSD it works okay since this service isn't too write heavy.</p>

  <h2>
    What about the old files I uploaded?
  </h2>
  <p>All files from the old {{ page.title }} are still accessible, with the same URLs even.</p>

  <h2>
    Where can I donate?
  </h2>
  <p>You can't.</p>
  <p>This is purely a novelty project for personal use, but it was opened up to the public as a free service. If you really want to donate, consider doing so to other projects of mine, such as <a href="http://openings.moe">openings.moe</a> </p>

  <h2>
    I get an "Internal server error" (Code 500), why?
  </h2>
  <p>The site is fresh. I still haven't implemented error handling for a lot of things, in those cases you will simply see that generic error page.</p>

{% endblock %}