{%  extends "regular.html" %}
{% block body %}
  <h1>Frequently asked questions</h1>

  <h2>
    Can I use ShareX to upload?
  </h2>
  <p>Sure thing! Here's the config: <a href="/QuadFile.json">i am link</a></p>
  <p>Import that as a custom uploader and fire away</p>

  <h2>
    Is this a pomf clone?
  </h2>
  <p>No.</p>
  <p>We have zero relation to pomf's codebase. QuadFile also started before pomf.se died.</p>

  <h2>
    Can I upload using my phone?
  </h2>
  <p>Sure, go ahead. You might even want to <a href="{{ url_for('static', filename="AddToHomescreen.png") }}">add {{ page.title }} to your homescreen</a>.</p>

  <h2>
    Who runs this thing
  </h2>
  <p>A guy called Quad (<a href="http://quad.moe">Website</a>)</p>

  <h2>
    What powers this site?
  </h2>
  <p>Purely Python powered and only depends on Flask. The database is SQLite, works alright on SSD.</p>
  <p>There is also a lot of coffee involved.</p>

  <h2>
    Is QuadFile open-source?
  </h2>
  <p><a href="https://github.com/QuadPiece/QuadFile">Yes.</a></p>
  
  <h2>
    Is my data safe?
  </h2>
  <p>Don't rely on our availability. This site isn't intended for storage or critial use. Mostly just to send files to friends.</p>
  <p>If you're asking in regards to privacy. Check the <a href="/privacy">privacy policy</a> for details</p>
  
  <h2>
    What is your logo supposed to be?
  </h2>
  <p>It's nothing. But if you really need an excuse let's just say that it's a black meteor to represents downloads.</p>

  <h2>
    Will you add the ability to do X?
  </h2>
  <p>Probably not, this project is pretty <a href="https://en.wikipedia.org/wiki/KISS_principle">KISS</a>. I'm trying to keep it as low-maintenance as possible while still satisfying 95% of the users.</p>

  <h2>
    What about the old files I uploaded?
  </h2>
  <p>All files from the old {{ page.title }} are still accessible, with the same URLs even.</p>
  
  <h2>
    Your site seems to be blacklisted
  </h2>
  <p>Golly, that's not good. Please contact me on <a href="https://twitter.com/QuadPiece">Twitter</a> or by E-mail at <a href="mailto:contact@quad.moe">contact@quad.moe</a> so I can take a look at it.</p>
  <p>It would also help if you yourself contacted the application/company that blacklisted it and tell them that it is indeed safe.</p>

  <h2>
    Where can I donate?
  </h2>
  <p>You can't.</p>
  <p>This is purely a novelty project for personal use, but it was opened up to the public as a free service. If you really want to donate, consider doing so to <a href="https://www.patreon.com/quadpiece">my patreon</a>, which covers all my personal projects </p>

{% endblock %}
