{%  extends "regular.html" %}
{% block body %}
    <h1 id="limits">Privacy policy</h1>
    <h2>General policy</h2>
    <p>When you upload a file, we reserve the right to distribute that file on your behalf. Yet you hold responsibility for any harm the content might do.</p>
    <h2>Data stored</h2>
    <p>This site stores two pieces of data. When uploading a file, it stores the file you uploaded temporarily until expiration as well as a standard web server log entry. While accessing files, only a standard web server log entry is stored</p>
    <p>The web server logs contain Your IP address, user agent and request details (Type of request, page requested, etc.).</p>
    <h2>Deletion</h2>
    <p>After a file expires, it is completely removed, no trails remain on the server regarding the contents of the file. Certain data might be leftover in web server logs. However there is no way to link a web server log entry to an uploaded file after it is deleted.</p>
    <h2>Crimminal investigations and takedown</h2>
    <p>We will comply with takedown notices about abuse or from copyright holders. We will also cooperate in crimminal investigation with the little information we have. However, once a file has been deleted our logs are mostly useless. Worst-case we may share an IP address and a timestamp as that is all the relevant information we store.</p>
{% endblock %}
