{%  extends "regular.html" %}
{% block body %}
    <h1 id="limits">Terms</h1>
    <ul>
      <li><strong>You</strong> are responsible for the file you upload</li>
      {% if page.size is defined %}
      <li>The max file size is <strong>{{ page.size }}</strong></li>
      {% endif %}
      <li>Files are deleted when they haven't been accessed for a week.</li>
      <li>Files may be deleted if requested by the content owner</li>
      <li>If I find illegal content (eg. CP, viruses and such) it will instantly be deleted</li>
      <li>More terms may be added to this list without warning</li>
      <li>TL;DR Don't be an asshole and blame me for something that happens</li>
    </ul>
{% endblock %}