{% extends "shell.html" %}
{% block body %}
  <h1 class="title">
    QuadFile
  </h1>
  <form action="" id="form" name="fileForm" method="post" enctype="multipart/form-data" class="uploadForm">
    <div class="uploadButton">
      <p>
        Click to select a file
      </p>
      <input id="file" type="file" name="file">
    </div>
    <input type="hidden" name="source" value="web">
  </form>
  <p class="note">This is temporary storage. Check the about page for details</p>
  <ul class="links">
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/terms">Terms</a>
    </li>
    <li>
      <a href="/privacy">Privacy</a>
    </li>
    <li>
      <a href="/faq">FAQ</a>
    </li>
  </ul>
  <script>
  document.getElementById("file").onchange = function() {
    document.getElementById("form").submit();
  };
  </script>
{% endblock %}
